<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>15 Puzzle</title>
	<link rel="stylesheet" href="static/css/15-puzzle.css">
</head>
<body>
	<div id="puzzle"></div>
	<div id="stats">
		<table id="stats-table" align="center" style="margin-top: 10px; margin-bottom: 10px; text-align: : center">
			<tr>
				<th>Search Strategy</th>
				<th>Node Explored</th>
				<th>Execution Time</th>
				<th>Path Cost</th>
			</tr>
			<tr id="stats-data"></tr>
		</table>
	</div>
	<div id="controls">
		<select name="search strategy" required="1">
			<option value="BFS">BFS</option>
			<option value="DFS">DFS</option>
			<option value="A* - Euclidean Distance">A* - Euclidean Distance</option>
			<option value="A* Manhattan Distance">A* Manhattan Distance</option>
		</select>
		<button id="solve">Solve</button>
		<button id="scramble">Scramble</button>
	</div>


	<div id="controls">
		<input type="text" name="numbers" id="numbers">
		<button id="enter">Enter</button>
	</div>


	<script src="static/js/15-puzzle.js"></script>
</body>
</html>
